<?xml version="1.0"?>
<config>
    <modules>
        <Clean_SqlReports>
            <version>0.1.2</version>
        </Clean_SqlReports>
    </modules>

    <global>
        <blocks>
            <cleansql>
                <class>Clean_SqlReports_Block</class>
            </cleansql>
        </blocks>
        <helpers>
            <cleansql>
                <class>Clean_SqlReports_Helper</class>
            </cleansql>
        </helpers>
        <models>
            <cleansql>
                <class>Clean_SqlReports_Model</class>
                <resourceModel>cleansql_mysql4</resourceModel>
            </cleansql>
            <cleansql_mysql4>
                <class>Clean_SqlReports_Model_Mysql4</class>
                <entities>
                    <report>
                        <table>cleansql_report</table>
                    </report>
                </entities>
            </cleansql_mysql4>
        </models>

        <resources>
            <Clean_SqlReports>
                <setup>
                    <module>Clean_SqlReports</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </Clean_SqlReports>
        </resources>
    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <admin_cleansql before="Mage_Adminhtml">Clean_SqlReports</admin_cleansql>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>


    <adminhtml>
        <layout>
            <updates>
                <cleansql>
                    <file>clean_sqlreports/cleansql.xml</file>
                </cleansql>
            </updates>
        </layout>
    </adminhtml>
</config>