<?xml version="1.0" encoding="UTF-8"?>
<config>
    <sections>
        <reports>
            <groups>
                <cleansql translate="label">
                    <label>Clean SQL Report Options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>900</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <default_connection translate="label">
                            <label>Default Connection</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                            <comment>It is recommended to configure a read only DB user with limited grants.</comment>
                            <source_model>cleansql/config_connections</source_model>
                        </default_connection>
                        <max_reports_in_menu translate="label">
                            <label>Max # of reports in menu</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>validate-number</validate>
                        </max_reports_in_menu>
                    </fields>
                </cleansql>
            </groups>
        </reports>
    </sections>
</config>
